@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* include custom style */
@layer base {
   html {
      font-family: 'Poppins', sans-serif;
      /* background-color: #ffffff; */
   }
}

@layer components {
   /* basic btn */
   .signIn-btn {
      border: 1px solid #ff7900;
      padding: 10px 20px;
      background-color: transparent;
      color: #ff7900;
      text-transform: uppercase;
      cursor: pointer;
   }
   .register-btn {
      border: 1px solid #ff7900;
      padding: 10px 20px;
      background-color: #ff7900;
      color: #ffffff;
      text-transform: uppercase;
      cursor: pointer;
   }

   /* layout style */
   .layout {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-color: #ffffff;
   }

   /* footer icons */
   .icon-box {
      width: 2.6rem;
      height: 2.6rem;
      border: 1px solid #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
   }

}
